# It is the top-most EditorConfig file.
root = true

# For every file.
[*]
end_of_line = crlf

[*.{h,cpp,c}]
insert_final_newline = true
indent_style = tab
trim_trailing_whitespace = true
max_line_length = 120

[*.{lang}]
insert_final_newline = true
trim_trailing_whitespace = true

[{Settings.conf}]
insert_final_newline = true
trim_trailing_whitespace = true
